name: CI

on:
  push:
    branches:
      - "master"
  workflow_dispatch: 
  pull_request:
    branches:
      - "master"
      - "dev"
  schedule:
    # Run a cron job once daily, weekdays only
    - cron: "0 3 1,15 * *"

jobs:
  test:
    name: Pytest
    runs-on: ${{ matrix.cfg.os }}
    strategy:
      fail-fast: false
      matrix:
        cfg:
          - os: ubuntu-latest
            python-version: "3.8"
          - os: ubuntu-latest
            python-version: "3.9"
          #- os: macos-latest
          #  python-version: "3.9"
          #- os: windows-latest
          #  python-version: "3.9"

    steps:
      - uses: actions/checkout@v4

      # More info on options: https://github.com/conda-incubator/setup-miniconda
      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.cfg.python-version }}
          miniforge-version: latest
          environment-file: environment.yml
          channels: conda-forge,defaults
          activate-environment: kinfraglib
          #auto-update-conda: false
          #auto-activate-base: false
          #show-channel-urls: true

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info --all
          conda list

      - name: Download external data
        shell: bash -l {0}
        run: |
          echo "Download combinatorial library from zenodo..."
          wget -q -O data/combinatorial_library/combinatorial_library.tar.bz2 https://zenodo.org/record/17368450/files/combinatorial_library.tar.bz2?download=1
          ls -l data/combinatorial_library/
          echo "Decompress selected files..."
          tar -xvf data/combinatorial_library/combinatorial_library.tar.bz2 combinatorial_library_deduplicated.json chembl_standardized_inchi.csv
          mv combinatorial_library_deduplicated.json data/combinatorial_library/
          mv chembl_standardized_inchi.csv data/combinatorial_library/
          ls -l data/combinatorial_library/

      - name: Run tests
        shell: bash -l {0}
        run: |
          PYTEST_ARGS="--nbval-lax --nbval-current-env --nbval-cell-timeout=3600"
          PYTEST_IGNORE="--ignore=notebooks/custom_kinfraglib/2_3_custom_filters_paper.ipynb" 

          pytest $PYTEST_ARGS $PYTEST_IGNORE
